<!-- start module content -->

<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>

<link href="style.css" rel="stylesheet" type="text/css">

<table border="0" width="90%" cellspacing="0" cellpadding="5">
  <tr>
	<td>
	  <div class="xsheadline"><{$main_title}></div>
	</td>
  </tr>
  <tr>
	<td>
      <div class="xsdesc"><{$description}></div>
	  <br>
      <div id="gallery">
        <{$gallery}>
      </div>
    </td>
  </tr>
</table>



<!-- end module content -->